.arrow-icn{
    color: rgb(110, 110, 110);
}

.arrow-icn:hover{
    color: aliceblue;
}

.item-main{
   max-width: 740px;
   display: grid;
   border:solid thin #252525;
   border-radius: 10px;
   padding: 10px 15px;
   background-color: #252525;
   box-shadow: 5px 5px 10px 0 #808080;
   color: #a5a5a5;


}

.view-arw{
    text-decoration: none;
    color:aliceblue;
}
.view-arw:hover{
    color: aliceblue;
}

Link.view-arw{
    padding: 1%;
}