@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Mono+One&display=swap');


.hdr-blog{
    padding: 2rem 0 2rem 2rem;
    color: #151515;
    border-left: solid 15px #151515;
    /* border-radius: 5px; */
    
}
#comma{
  color: #8f6969;
  font-weight:bolder;
  font-family: 'Rubik Mono One', sans-serif;
}

#main-txt{
  color: #252525;
  font-weight: bolder;

}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    
  }

  @media (max-width: 768px) {
    .blog-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .blog-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }