.hdr-blog{
    padding: 2rem 0 2rem 2rem;
    color: #151515;
    border-left: solid 15px #151515;
    /* border-radius: 5px; */
    
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    
  }

  @media (max-width: 768px) {
    .blog-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .blog-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }