@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;  
    color: rgb(110, 110, 110);
    background-color: rgb(226, 226, 226);
}

.container {
    max-width: auto;
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
  }